<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>de.manfahrer.TonneUndTorte.refresh</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>Tonne &amp; Torte liest Geburtstage aus deinen Kontakten, wenn du sie importieren möchtest.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Tonne &amp; Torte trägt Abholtermine und Geburtstage auf Wunsch in deinen Kalender ein.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Dein Standort hilft, den passenden Entsorger für deine Region vorzuschlagen.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>de.manfahrer.TonneUndTorte</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tonne</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
